html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 50px;
    padding-bottom: 70px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* bs callouts
-------------------------------------------------- */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #f5f5f5;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.centered{
    margin: 0 auto;
}

.image{
    background:
        /* top, transparent black, faked with gradient */
            linear-gradient(
                    rgba(33, 33, 33, 0.60),
                    rgba(33, 33, 33, 0.60)
            ),
                /* bottom, image */
            url("images/bg-players.jpg") no-repeat;
    background-size: cover;
    color: #dddddd

}

.glyphicon {
    font-size: 50px;
}

.thumbnail-main {
    border: 0 none;
    padding-top: 10px;
}

.line {
    height: 2px;
    background-color: #5cb85c;
}

.line-fields {
    height: 1px;
    background-color: #eeeeee;
    margin-bottom: 30px;
    margin-top: 30px;
}

.form-background {
    background-color: #d1d1d1;
}

.glyphicon-small {
    font-size: 15px;
    padding-right: 10px;
    color: #777777;
}

.big {
    font-size: 50px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 320px;
}

tr:hover {
    background: #FCFCFC;
}

td:first-child {
    width: 120px;
}

td {
    border-top: 1px solid #EEE;
    padding: 5px
}

td.verb {
    font-weight: bold;
}

.border {
    border: 2px solid #5cb85c;
}

.option-small {
    width: 20%;
    min-width: 180px;
}

.thumbnail-event {
    margin-bottom: 20px;
}

.green {
    color: #5cb85c;
}

.white {
    color: #eeeeee;
}