<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <link rel="icon" th:href="@{/images/tab_icon.png}"/>
    <title>Umowmecz | Dodaj mecz</title>
</head>
<body class="form-background">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand">umowmecz.pl</a>

        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="glyphicon glyphicon-list"></span>
        </button>

        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Główna Strona</a></li>
                <li class="active"><a href="/event">Dodaj spotkanie</a></li>
                <li><a href="/api">API Docs</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="adminPanel">Panel administratora</a></li>
                <li sec:authorize="isAnonymous()"><a href="loginform">Zaloguj się</a></li>
                <li sec:authorize="isAuthenticated()"><a href="logout">Wyloguj się</a></li>
            </ul>
        </div>

    </div>
    <div class="line"></div>
</nav>

<div class="container">
    <div class="col-md-8 col-md-offset-2"><br/><br/>
        <p class="text-danger font-weight-bold" th:text="${message}" role="alert">...</p>
        <form class="form-signin" method="post" action="event" th:action="@{/event}" th:object="${eventModel}">
            <h2 class="form-signin-heading">Dodaj nowy mecz</h2>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" th:each="type : ${T(pl.umowmecz.model.Type).values()}">
                    <input type="radio" th:id="${{type}}" th:field="*{type}" th:value="${{type}}" th:text="${type}"/>
                </label>
            </div>
            <br/><br/>
            <input name="inputName" type="text" th:field="*{title}" class="form-control" placeholder="Tytuł meczu"
                   required="required" autofocus="autofocus"/><br/>
            <textarea name="inputDescription" th:field="*{description}" rows="5"
                      class="form-control" placeholder="Opis i informacje dodatkowe" required="required"
                      autofocus="autofocus"></textarea><br/>
            <input class="btn btn-lg btn-success btn-block" type="submit"
                   value="Dodaj"/>
        </form>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="navbar-text">Umowmecz.pl - developed by <a target="_blank" href="https://www.facebook.com/adrian.dyjecinski">Adrian Dyjeciński</a></p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
