<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <title>Umowmecz.pl</title>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand">Umowmecz.pl</a>

        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="glyphicon glyphicon-list"></span>
        </button>

        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Główna Strona</a></li>
                <li><a href="/event">Dodaj spotkanie</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="adminPanel">Panel administratora</a></li>
                <li sec:authorize="isAnonymous()"><a href="loginform">Zaloguj się</a></li>
                <li sec:authorize="isAuthenticated()"><a href="logout">Wyloguj się</a></li>
            </ul>
        </div>

    </div>
    <div class="line"></div>
</nav>

<div class="jumbotron image">
    <div class="container"><br/>
        <h1 class="text-center">Zorganizuj mecz i zaproś znajomych!</h1>
        <p class="text-center">
            <a class="btn btn-success btn-lg" href="/event" role="button">Umów mecz</a>
        </p>
        <h4 class="text-center">Jesteś tutaj nowy? <a href="/register">Zarejestruj się.</a></h4><br/>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h1>Lista Orlików w Trójmieście</h1>
    </div>
    <div>
        <div th:each="field : ${fieldList}" th:object="${field}">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="centered"><a href="#" th:text="*{city + ', ' + street}"></a></h3>
                    <small th:text="'(' + *{nextTo} + ')'"></small><br/><br/>
                    <p><span class="glyphicon glyphicon-small glyphicon-earphone" aria-hidden="true"></span><span th:text="*{phoneNumber}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="navbar-text">Umowmecz.pl - developed by <a target="_blank" href="https://www.facebook.com/adrian.dyjecinski">Adrian Dyjeciński</a></p>
    </div>
</footer>

</body>
</html>