<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <title>Umowmecz.pl</title>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand">umowmecz.pl</a>

        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="glyphicon glyphicon-list"></span>
        </button>

        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Główna Strona</a></li>
                <li><a href="/event">Dodaj spotkanie</a></li>
                <li><a href="/api">API Docs</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="adminPanel">Panel administratora</a></li>
                <li sec:authorize="isAnonymous()"><a href="loginform">Zaloguj się</a></li>
                <li sec:authorize="isAuthenticated()"><a href="logout">Wyloguj się</a></li>
            </ul>
        </div>

    </div>
    <div class="line"></div>
</nav>

<div class="jumbotron image">
    <div class="container"><br/>
        <h1 class="text-center">Zorganizuj mecz i zaproś znajomych!</h1>
        <p class="text-center">
            <a class="btn btn-success btn-lg" href="/event" role="button">Umów mecz</a>
        </p>
        <h4 class="text-center">Jesteś tutaj nowy? <a href="/register">Zarejestruj się.</a></h4>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail text-center">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                <div class="caption">
                    <h3>Baza boisk</h3>
                    <p>Tu znajdziesz listę wszystkich boisk w Trójmieście i nie tylko.</p>
                    <p><a href="#" th:href="@{/fields}" class="btn btn-primary" role="button">Sprawdź</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail text-center">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                <div class="caption">
                    <h3>Lista meczy</h3>
                    <p>Znajdz i dołącz do meczu rozgrywanego w twojej okolicy.</p>
                    <p><a href="#" th:href="@{/event/all}" class="btn btn-primary" role="button">Sprawdź</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail text-center border">
                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
                <div class="caption">
                    <h3>Dla programistów</h3>
                    <p>Zajrzyj tutaj jeśli interesuje cie API z danymi wszystkich Orlików w Trójmieście i okolicach.</p>
                    <p><a href="#" th:href="@{/api}" class="btn btn-primary" role="button">Sprawdź</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="navbar-text">Umowmecz.pl - developed by <a target="_blank" href="https://www.facebook.com/adrian.dyjecinski">Adrian Dyjeciński</a></p>
    </div>
</footer>

</body>
</html>