<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <link rel="icon" th:href="@{/images/tab_icon.png}"/>
    <title>Umowmecz | Rejestracja</title>
</head>
<body class="form-background">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand">umowmecz.pl</a>

        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="glyphicon glyphicon-list"></span>
        </button>

        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Główna Strona</a></li>
                <li><a href="/event">Dodaj spotkanie</a></li>
                <li><a href="/api">API Docs</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/adminPanel">Panel administratora</a></li>
                <li sec:authorize="isAnonymous()"><a href="/loginform">Zaloguj się</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/logout">Wyloguj się</a></li>
            </ul>
        </div>

    </div>
    <div class="line"></div>
</nav>

<div class="container"><br/><br/><br/><br/>
    <!--<h1 class="form-signin-heading text-danger text-center">Rejestracja chwilowo niedostępna...</h1>-->
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <form class="form-signin" action="#" method="post" th:action="@{/register}" th:object="${user}">

            <div th:if="${userAlreadyExists}"
                 class="alert alert-danger" role="alert"
                 th:text="${userAlreadyExists}"></div>

            <div th:if="${#fields.hasErrors('username')}"
                 th:errors="*{username}"
                 class="validation-message alert alert-danger" role="alert"></div>
            <div th:if="${#fields.hasErrors('email')}"
                 th:errors="*{email}"
                 class="validation-message alert alert-danger" role="alert"></div>
            <div th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}"
                 class="validation-message alert alert-danger" role="alert"></div>

            <h1 class="form-signin-heading">Zarejestruj się</h1>
            <input class="form-control"  th:field="*{firstName}" placeholder="Imię" autofocus="autofocus"/><br/>
            <input class="form-control" th:field="*{lastName}" placeholder="Nazwisko"/><br/>
            <input class="form-control" th:field="*{username}" type="text" placeholder="Nazwa użytkownika"/><br/>
            <input class="form-control" th:field="*{email}" type="email" placeholder="Email"/><br/>
            <input class="form-control" th:field="*{password}" type="password" placeholder="Hasło"/><br/>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Zarejestruj"/>
        </form>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="navbar-text">Umowmecz.pl - developed by <a target="_blank" href="https://www.facebook.com/adrian.dyjecinski">Adrian Dyjeciński</a></p>
    </div>
</footer>

</body>
</html>